<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Multi BrowserSuite">
  
  <test thread-count="5" name="Firefox browser Test">
  <parameter name="BrowserType" value="firefox"></parameter>
    <classes>
      <class name="com.portal.ecps.ca.Testing"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Chrome browser Test">
  <parameter name="BrowserType" value="chrome"></parameter>
    <classes>
      <class name="com.portal.ecps.ca.Testing"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Edge browser Test">
  <parameter name="BrowserType" value="edge"></parameter>
    <classes>
      <class name="com.portal.ecps.ca.Testing"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
